* {
  cursor: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: rgb(26 26 27);
}

.title {
  font-size: 1rem;
  color: white;
}

.cursor {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease, height 0.2s ease, width 0.2s ease;
}
